name: Build Android

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  EXAMPLE_DIRECTORY: example_app

jobs:
  build_android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - uses: subosito/flutter-action@v2
        with:
          flutter-version-file: pubspec.yaml
          channel: "stable"
      - run: flutter doctor
      - run: flutter pub get

      - name: build apk appbundle
        working-directory: ${{ env.EXAMPLE_DIRECTORY }}
        run: flutter build apk 

      - name: build apk appbundle
        working-directory: ${{ env.EXAMPLE_DIRECTORY }}
        run: flutter build appbundle   