name: Example Analyze code and Unit test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  FLUTTER_VERSION: "3.35.0"
  EXAMPLE_DIRECTORY: example    

jobs:
  flutter_test:
    name: Analyze code and Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: "stable"
      - run: flutter doctor

      - name: "Check fmt"
        working-directory: ${{ env.EXAMPLE_DIRECTORY }}
        run: flutter pub get && flutter format . --line-length 120 --set-exit-if-changed

      - name: "Analyze Code"
        working-directory: ${{ env.EXAMPLE_DIRECTORY }}
        run: flutter analyze  --fatal-warnings

      - name: "Run unit tests"
        working-directory: ${{ env.EXAMPLE_DIRECTORY }}
        run: flutter test
