name: Example IOS integration test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  FLUTTER_VERSION: "3.35.0"
  EXAMPLE_DIRECTORY: example_app
  ARTIFACT_PATH: ./example/screenshots/*

jobs:
  integration_test_ios:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: stable
      - run: flutter doctor -v
      - run: flutter pub get
      - uses: futureware-tech/simulator-action@v2
        with:
          model: "iPhone 14"
          os_version: "16.0"

      - name: run integration test
        working-directory: ${{ env.EXAMPLE_DIRECTORY }}
        run: flutter drive --target=test_driver/app.dart

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: my-artifact
          path: ${{ env.ARTIFACT_PATH }}
