name: Build IOS

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  EXAMPLE_DIRECTORY: example_app

jobs:
  build_ios:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version-file: pubspec.yaml
          channel: "stable"
          architecture: x64
      - run: flutter doctor
      - run: flutter pub get

      - name: flutter build ios
        working-directory: ${{ env.EXAMPLE_DIRECTORY }}
        run: flutter build ios --release --no-codesign
