name:  Unit test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  FLUTTER_VERSION: "3.35.0"
  EXAMPLE_DIRECTORY: example_app

jobs:
  flutter_test:
    name: Analyze code and Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: "stable"
      - run: flutter doctor

      - name: "Run unit tests"
        run: flutter test
